.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.head-name{
    font-size: 40px
}
.crazy{
    color: blueviolet;
}

.header a{
    color:aliceblue;
    text-decoration: none;
    margin-left: 36px;
}
.header a:hover{
    color: blueviolet;
}